@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont:'Lobster', cursive;
    --sm: 16px;
    --md: 18px;
    --lg: 24px;
    --ssm: 12px;
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}


*{font-family:var(--primaryFont);}

* {
    margin: 0 px ;
    padding: 0 px ;
    box-sizing: border-box ;
    }
main{
    width: 100vw;
    background-color: var(--grisClaro);
    
}
input, button{
    display: flex;
    width: 30vw;
    justify-content: center;
    padding: 15px;
    margin:15px;
}


form{
    background-color: var(--grisClaro);
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    
}

